@media only screen and (max-width: 600px) {
    nav{
        background-color:red ;
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffeb;
    z-index: 100;
    width: -webkit-fill-available;
    padding: 1em 60px ;
    position: fixed;
    backdrop-filter: blur(4px);
}
.title{
    font-family: 'Mochiy Pop P One', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    gap: 5px;
}
div ul{
    display: flex;
    gap: 0.7em;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
}
ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
a,li:hover{
    transform: scale(0.95,0.95);
    transition-duration: 400ms;
}
.burger{
    width: 25px;
    display: none;
    border: 2px solid #dbd8d8;
    padding: 0px 5px;
}
.burger hr {
    border-color: black;
    
}
