
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 1em 60px ;
    
}
.title{
    font-family: 'Mochiy Pop P One', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    gap: 5px;
}
div ul{
    display: flex;
    gap: 0.7em;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
}
ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}